html {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

body {
    background-image: url(../strand.jpg);
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

@font-face {
    font-family: NexaBold;
    src: url(Nexa Bold.otf);
}

@font-face {
    font-family: NexaLight;
    src: url(Nexa Light.otf);
}

header {
    background-color: #43B865;
    min-width: 100%;
    border-bottom: solid;
}

header h1,
nav {
    display: inline-block;
}

header h1 {
    text-align: center;
    margin-left: 1.5em;
    font-family: NexaBold;
    color: #fff;
}

header li {
    display: inline-block;
    background-color: #362F90;
    color: #FFFFFF;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-family: NexaLight;
}

header nav {
    float: right;
}

.sidebar {
    position: absolute;
    height: 150%;
    width: 15em;
    background-color: #F4E7D8;
    padding-right: 0.3em;
    border-right: solid 0.2em;
}

.sidebar fieldset {
    background-color: #F9F1E9;
    color: #000000;
    border-radius: 0.5em;
    margin-top: 0.5em;
    font-family: NexaBold;
}

.sorteren li {
    list-style: none;
    font-family: NexaLight;
}

.filter li {
    list-style: none;
    font-family: NexaLight;
}

.sidebar h3 {
    font-size: 1em;
}

.articleList {
    position: absolute;
}

.articleList article {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 15em;
    border: solid 0.2em black;
    border-radius: 0.5em;
    margin: 0.5em;
    padding: 0.5em;
    background-color: #FFFFFF;
    box-shadow: 0.5em 0.5em 1em #000000;
}

.articleList article h2 {
    font-family: NexaBold;
}

.articleList article p {
    font-family: NexaLight;
}

.footArticle {
    font-family: NexaLight;
    font-weight: bold;
    font-style: italic;
    color: #362F90;
}

.articleList button {
    width: 20%;
    float: right;
    background-color: #EE3469;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    color: #FFFFFF;
    font-family: NexaBold;
    font-size: 0.7em;
}

.zoek {
    position: absolute;
    height: 10em;
    width: 10em;
    margin-left: 60em;
}

.zoek h2 {
    font-family: NexaBold;
}

.zoek fieldset {
    width: 14em;
    border: solid 0.2em black;
    border-radius: 0.5em;
    background-color: #F9F1E9;
    margin-top: 0.5em;
}

.zoek button {
    background-color: #EE3469;
    border-radius: 0.5em;
    padding: 0.5em 1.5em;
    color: #FFFFFF;
    font-family: NexaLight;
    font-size: 0.7em;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 18em;
    min-height: 100%;
    min-width: 50%;
}

.bottom {
    background-color: #43B865;
    height: 5%;
    width: 100%;
    bottom: 0em;
    position: fixed;
}

.hidden {
    display: none;
}

@media screen and (max-width: 30em) {
    .zoek {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .articleList {
        margin-left: 3em;
        margin-top: 2em;
    }
    .articleList article {
        width: 80%;
        height: 80%;
    }
    .hidden {
        display: inline-block;
        margin-top: 2em;
        margin-left: 2em;
        background-color: red;
    }
    header nav {
        float: none;
    }
}

@media screen and (max-width: 70em) {
    .zoek {
        display: none;
    }
    .articleList article {
        width: 65%;
        height: 80%;
    }
    .articleList Button {
        width: 40%;
    }
}

.inlogscherm {
    width: 60%;
    height: 80%;
    margin: 2em;
    background-color: antiquewhite;
    border-radius: 1em;
}

.inlogscherm li {
    display: inline-block;
    width: 60%;
    font-size: 1em;
    margin: 0.1em;
    font-family: NexaLight;
}

.inlogscherm h2 {
    font-family: NexaBold;
}

.inlogscherm li input {
    width: 20em;
    padding: 1em;
    border: solid 0.2em;
    border-radius: 0.5em;
    float: none;
}

.aanmeldbutton {
    float: right;
    background-color: #EE3469;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    color: #FFFFFF;
}

a:visited {
    color: white;
}

.articleList button:hover {
    background-color: #BB3569;
}